	*{
		margin:0;
		padding:0;
		width:100%;
	}
	body {
	 font-family: 'Raleway', sans-serif;

	 background-color: rgb(207, 175, 207);

	 /* background-image: url("blurcity.jpg"); */
	  padding: 0;
	  margin: 0;
	  width:100%;
	  height:100%;
	  overflow-x:hidden;
	  color:white;
	  z-index:2;
	  position: absolute;
	 background-attachment:fixed;
	 font-weight: lighter;
	}
	h1{
		font-weight: 200;
		padding:0;
		margin:0;
		font-size:5em;
	}
	h2{
		font-weight:200;
	}
	h3{
		margin-bottom:5px;
	}
	a{
		color: rgb(172, 187, 208);
	}
	a:hover{
		color:grey;
	}
	span{
		color: rgb(213, 224, 212);
	}
	.header{
		width:100%;
		min-height: 175px;
		text-align:center;
		padding-top: 40px;

	}
	.text-wrap{
		text-align:center;
	}

	.content
	{
		background-color:grey;
		border: 10px rgb(207, 175, 207) solid;
		display:inline-block;
	}

	.about{
		background-color: rgb(255, 100, 100);
		min-height: 240px;
	}
	.contact:hover
	{
		background-color:rgb(53, 205, 210);
	}
	.projects{
		background-color: rgb(69, 87, 123);
		min-height:315px;
	}
	.skills{
		background-color: rgb(1, 166, 140);
		min-height:315px;
	}
	.contact{
		background-color: rgb(175, 206, 207);
		min-height: 70px;
		font-size: .9em;
		text-align: center;
		padding-top: 5px;
	}
	.fa{
		display:inline;
	}

	.row{
		margin:0;
		padding-left:30px;
		padding-right:30px;
	}
@media(max-width: 769px) {
	.contact{
		font-size: .75em;
	
		padding-top: 10px;
}

}
