	*{
		margin:0;
		padding:0;
		width:100%;
	}
	body {
	 font-family: 'Raleway', sans-serif;

	 background-color: rgb(106, 88, 106);

	  padding: 0;
	  margin: 0;
	  width:100%;
	  height:100%;
	  overflow-x:hidden;
	  color:white;
	  z-index:2;
	  position: absolute;
	 background-attachment:fixed;
	}
	h1{
		font-weight: 200;
		padding:0;
		margin:0;
		font-size:5em;
	}
	h2{
		font-weight:200;
	}
	h3{
		margin-bottom:5px;
		margin-top:0;
	}
	a{
		color: rgb(82, 172, 179);
	
		font-weight: 500;
}
	a:hover{
		color:grey;
	}
	span{
		color: rgb(255, 255, 255);
	
		font-weight: 500;
}
	.header{
		width:100%;
		min-height: 175px;
		text-align:center;
		padding-top: 50px;

	}
	.text-wrap{
		text-align:center;
	}

	.content
	{
		background-color:grey;
		border: 10px rgb(106, 88, 106) solid;
		display:inline-block;
	}

	.about{
		background-color: rgb(255, 171, 171);
		min-height: 240px;
	}
	.about:hover{
		background-color:  rgb(255, 100, 100);
	}
	.contact:hover
	{
		background-color: rgb(128, 41, 128);
		
	}
	.projects{
		background-color: rgb(191, 214, 225);
		min-height:315px;
	}
	.projects:hover{
		background-color: rgb(69, 87, 123);
	}
	.skills{
		background-color: rgb(150, 221, 210);
		min-height:315px;
	}
	.skills:hover{
		background-color:rgb(53, 205, 210);
	}
	.contact{
		  background-color: rgb(179, 157, 179);
		min-height: 70px;
		font-size: .9em;
		text-align: center;
		padding-top: 5px;
	}
	.fa{
		display:inline;
	}

	.row{
		margin:0;
		padding-left:30px;
		padding-right:30px;
	}
@media(max-width: 1200px) {
	.contact{
		font-size: .75em;
	
		padding-top: 10px;
}
@media(max-width: 1010px) {
	.about{
		min-height: 390px;
}
.contact{
	min-height:0px;
	font-size:.7em;
}
@media(max-width: 999px) {
	.about{
		min-height:250px;
}
.contact{
	min-height:0px;
	padding-top: 0px;
}
}
@media(max-width: 769px) {
	.contact{
		font-size: .75em;
	
		padding-top: 10px;
}

}
