 
 
 .container
 {
 width:100%;
 	height:100%;
 }
 
 body {
  font-family: 'Poiret One', cursive;
  background-color: rgb(55, 98, 134);
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
  overflow-x:hidden;
  color:white;
}

.introtext{
	text-align:center;
    background-image: url("space.jpg");  /* http://qrohlf.com/trianglify-generator/ */
	padding-bottom: 5%;
	padding-top:2%;

}

.photo{
	 background-image: url("preets.jpg");
	 width:200px;
	 height:200px;
	 border-radius:50%;
	 margin-left:45%;
}

.pop{
    font-family: 'Poiret One', cursive;
    font-size: 5em;
    font-weight: bold;
	-moz-transition: all 0.3s ease-out; /* FF3.7+ */
       -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
          transition: all 0.3s ease-out;
}

.pop:hover{
    left: -6px;
    top: -6px;
}

.blue:hover{
	text-shadow: #49ACD0 1px 1px, #49ACD0 2px 2px, #49ACD0 3px 3px;
}
.blue{
	text-shadow: #49ACD0 1px 1px, #49ACD0 2px 2px, #49ACD0 3px 3px,  #49ACD0 4px 4px,  #49ACD0 5px 5px,  #49ACD0 6px 6px;
}
.orange:hover{
	text-shadow: rgb(255, 180, 149) 1px 1px, rgb(255, 180, 149) 2px 2px, rgb(255, 180, 149) 3px 3px;
}
.orange{
	text-shadow: rgb(255, 180, 149) 1px 1px, rgb(255, 180, 149) 2px 2px, rgb(255, 180, 149) 3px 3px, rgb(255, 180, 149) 4px 4px,  rgb(255, 180, 149) 5px 5px,  rgb(255, 180, 149) 6px 6px;
	font-size:3em;
	}
.purple:hover{
    text-shadow: rgb(106, 45, 138) 1px 1px, rgb(106, 45, 138) 2px 2px, rgb(106, 45, 138) 3px 3px;
}
.purple{
	text-shadow: rgb(106, 45, 138) 1px 1px, rgb(106, 45, 138) 2px 2px, rgb(106, 45, 138) 3px 3px, rgb(106, 45, 138) 4px 4px,  rgb(106, 45, 138) 5px 5px,  rgb(106, 45, 138) 6px 6px;
	font-size:3em;
	}
.violet:hover{
	text-shadow: rgb(65, 42, 120) 1px 1px, rgb(65, 42, 120) 2px 2px, rgb(65, 42, 120) 3px 3px;
}
.violet{
	text-shadow: rgb(65, 42, 120) 1px 1px, rgb(65, 42, 120) 2px 2px, rgb(65, 42, 120) 3px 3px,  rgb(65, 42, 120) 4px 4px,  rgb(65, 42, 120) 5px 5px,  rgb(65, 42, 120) 6px 6px;
	font-size:2em;
	}