.container
 {
 width:100%;
 	height:100%;
 }
 
 body {
  font-family: 'Poiret One', cursive;
  background-color: rgb(39, 21, 33);
  background-image: url("pattern2.png");
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
  overflow-x:hidden;
  color:white;
  z-index:2;
}

.navbar{
	width:100%;
	background-color:grey;
	position:fixed;
	z-index:1;
}

.nav{
	display:inline-block;
}

.content{

}

.introtext{
	text-align:center;
	padding-bottom: 2%;
	padding-top:2%;

}

.photo{
	 background-image: url("preets.jpg");
	 width:200px;
	 height:200px;
	 border-radius:15%;
	 margin-left:auto;
	 margin-right: auto;
	 -moz-transition: all 0.3s ease-out; /* FF3.7+ */
       -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
          transition: all 0.3s ease-out;
}

.photo:hover{
	border-radius:5%;

}

.pop{
    font-family: 'Poiret One', cursive;
    font-size: 5em;
    font-weight: bold;
	-moz-transition: all 0.3s ease-out; /* FF3.7+ */
       -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
          transition: all 0.3s ease-out;
}

.pop:hover{
    left: -6px;
    top: -6px;
}

.blue{
	text-shadow: #49ACD0 1px 1px, #49ACD0 2px 2px, #49ACD0 3px 3px;

}
.blue:hover{
	text-shadow: #49ACD0 1px 1px, #49ACD0 2px 2px, #49ACD0 3px 3px,  #49ACD0 4px 4px,  #49ACD0 5px 5px;
}
header{
	text-shadow: #49ACD0 1px 1px, #49ACD0 2px 2px, #49ACD0 3px 3px;
		width:100%;
		height:5%;
}

header.sticky {
	text-align:left;
	position:fixed;
	font-size:.5em;
}

.orange{
	text-shadow: rgb(255, 180, 149) 1px 1px, rgb(255, 180, 149) 2px 2px, rgb(255, 180, 149) 3px 3px;
	font-size:3em;
}
.orange:hover{
	text-shadow: rgb(255, 180, 149) 1px 1px, rgb(255, 180, 149) 2px 2px, rgb(255, 180, 149) 3px 3px, rgb(255, 180, 149) 4px 4px;
}
.purple{
    text-shadow: rgb(106, 45, 138) 1px 1px, rgb(106, 45, 138) 2px 2px, rgb(106, 45, 138) 3px 3px;
	font-size:3em;
}
.purple:hover{
	text-shadow: rgb(106, 45, 138) 1px 1px, rgb(106, 45, 138) 2px 2px, rgb(106, 45, 138) 3px 3px, rgb(106, 45, 138) 4px 4px;;
}
.violet{
	text-shadow: rgb(65, 42, 120) 1px 1px, rgb(65, 42, 120) 2px 2px, rgb(65, 42, 120) 3px 3px;
	font-size:2em;
}
.violet:hover{
	text-shadow: rgb(65, 42, 120) 1px 1px, rgb(65, 42, 120) 2px 2px, rgb(65, 42, 120) 3px 3px,  rgb(65, 42, 120) 4px 4px;;
}

.filler1{
	height:300px;
	background-color:red;
	opacity:.3;
}
.filler2{
	height:600px;
	background-color:green;
	opacity:.3;
}
.filler3{
	height:400px;
	background-color:blue;
	opacity:.3;
}
.filler4{
	height:800px;
	background-color:orange;
	opacity:.3;
}
.filler5{
	height:300px;
	background-color:purple;
	opacity:.3;
}